<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Strom street"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.LocationAddress"></activity>
        <activity
            android:name=".Exoplayer"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity android:name=".Activities.ReportPost"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.UserProfile"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ChangePassword"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.Following"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.Followers"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.PostActivity3"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.PostActivity2"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.PostActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ChatActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ResetPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ForgotPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.EmailVerificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.Checksocket"
            android:screenOrientation="portrait"/>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/splash_screen" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.SignUpActivity" android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>